body {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;    	
    max-width: 1440px;
    margin: 0 auto;
    background: #F6EFE8;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #D2908B;
    background: #F6EFE8;
}

.tittle {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-left: 65px;
    align-self: center;
}

.header-links {
    margin-top: 65px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;        
}

.header-links a {
    color: #D2908B;
    text-decoration: none;        
}

.language {
    white-space: nowrap;
    padding-left: 20px;
}

.blind {        
    display: inline-block;
    margin: 20px;	
    background: transparent; 
    border: none;
    box-shadow: none;
    cursor: pointer;
}

.blind img {
    padding-right: 5px;
    vertical-align: middle;
}

/* Главное меню и поиск */
.nav-bar {
    display: flex;
    flex-wrap: nowrap;
    background: #D2908B;
    min-height: 100px;
    justify-content: space-between;
    align-items: center;
}

.menu {  
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 66%;
    cursor: pointer;
}

.menu li {
    position: relative;
    width: 20%;
    height: 100px;
    border: none;   
    border-color: #F6EFE8;
    outline: none;  
    transition: background-color 0.3s linear;
}

.menu a {
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

.menu .sub-menu {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #D2908B;
    z-index: 1;
    width: 100%;
}


.menu .sub-menu li {
    height: 50px;
    width: 100%;
}

.menu .sub-menu a {
    margin-bottom: -1px;
    color: white;
    text-decoration: none;
    padding: 3px 5px;  
}

.menu li:nth-child(2) span::before {
    content: ' ▼';
}

.menu li:nth-child(2) span.up::before {
    content: ' ▲';
}


.menu li:nth-child(2) span {
    display: flex;
    line-height: 1.5rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu li:hover {
    background-color: #C3827D;
}

.menu > li:hover .sub-menu {
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.sub-menu.open {
    display: block;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.menu li:active {
    border: 4px solid #F6EFE8;
    box-sizing: border-box;
    transition: border 0.1s ease;
}

.search-form {
    display: inline-block;
    margin-right : 17px;
    width: 300px;
    padding: 20px 0;

}

.search-form .search-text {
    background-image: url(../images/glass.png);
    background-repeat:  no-repeat;
    background-position: 13px 5px;
    text-indent: 56px;
    width: 100%;
    height: 35px;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    display: inline-block;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

textarea:focus, 
input:focus {
    outline: none;
}

/*Кнопка "назад" и ссылка на открытую страницу*/
.navigation {
    padding: 5px 20px; 

}

.navigation a:last-child {
    display: inline;  
    text-decoration: none;
    padding-left: 20px;
    vertical-align: top;   
}

/*Сетка контента*/
.content {
    margin-top: 45px;
    min-height: 400px;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.row-two {
    padding: 60px 0;
}

.grid-item-left {
    padding: 0 20px;  
    flex: 2 1 0%;
    text-align: justify;   
}

.grid-item-right {
    padding: 0 20px;
    flex: 1 2 0%;
}

h2 {
    margin: 0;
    margin-bottom: 15px;   
}

.grid-item-left h2 + p {
    margin-top: 120px;
    padding-top: 15px;
    border-top: 2px dashed rgba(210, 144, 139, 0.5);
}


/*Местоположение*/
iframe {
    box-sizing: border-box;
    border: 2px solid #D2908B;
    width: 100%;
    min-height: 292px;          
}

/*Погода*/
.weather {
    text-align: right;   
}

.weather img {
    margin-top: 25px;
}

.carousel {
    position: relative;  
    padding: 0 60px;
    padding-top: 15px;
}

.carousel img {
    width: 100%;
    height: 100%;
    display: block;  
    border: 2px solid rgba(210, 144, 139, 0.5);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    cursor: pointer;
}

.carousel img:hover {
    opacity: 0.7;
}

.arrow {
    position: absolute;
    top: 105px;
    padding: 0; 
    font-size: 3.125rem;
    line-height: 24px; 
    display: inline-block;    
    transform: scale(2, 4.5); 
    color: #DDBAB8;
    text-shadow: 0 3px 4px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

/*Стили блока картинки карусели при их открытии*/
li .showimg:hover {
    opacity: 1;
}

.imgblock {    
    position: fixed;  
    top: 10px;
    left: 10px;
    right: 10px;  
    margin: auto;
    z-index: 100;
    min-width: 45%;
    max-width: 700px;
    box-shadow: 0px 25px 125px rgba(10, 10, 10, 0.8);

}

.btnclose {    
    cursor:pointer;
    color: #F6EFE8;
    border: 2px solid #F6EFE8;
    right: 0;
    border-radius: 50%;
    background: #D2908B;
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    position: absolute;
    line-height: 0px;
    padding: 15px 5px;
    background: #D2908B;
    opacity: 0.8;
    top: 5px;
    right: 5px; 
    transition: 0.5s ease;
}

.btnclose::before {
    content: '\2716';
}

.btnclose:hover {
    background: #DDBAB8;
    color: #FFFFFF;
}

/*Стиль самих картинок*/
.showimg {    
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(245, 226, 225, 0.7);
    cursor: pointer;
    margin: 0 auto;
}

/*Описание и лицензия при открытии картинок*/
.license {
    display: block;
    background: #D2908B;
    box-sizing: border-box;
    padding: 2px 5px;
    width: 100%;
    height: auto;
    white-space: pre-line;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {  
    cursor: pointer;
    color: #F5E2E1;
    outline: none;
}

.arrow:active {
    cursor: pointer;
    color: #FDF9F9;
    outline: none;
}

.prev {
    left: 2px;
}

.next {
    right: 2px;
}

.gallery {
    max-width: 900px;
    overflow: hidden;
    background: #F5E2E1;
    margin: 0;  
}

.gallery ul {
    height: 160px;
    max-width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}

.gallery li {
    width: 200px;
    height: 145px;
    display: inline-block;
    margin: 5px 0;
    margin-right: 35px;
    text-align: center;
}

.gallery li:first-child {
    margin-left: 60px;   
}

.gallery li:last-child {
    margin-right: 60px;   
}

/*Блок ссылок*/
.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.links a img {
    padding-right: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: #D2908B;    
}

footer a {
    display: flex;
    align-items: center;
    text-decoration: none;       
}

.feedback {      
    background-image: url(../images/footer-sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -10px;
    width: 25px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;   
}

.sitemap {   
    background-image: url(../images/footer-sprite.png);
    background-repeat: no-repeat;
    background-position: -35px -10px;
    width: 25px;
    height: 20px;
    margin-left: 10px;
    margin-right: 20px; 
}

.copyright {   
    text-align: center;    
}

/*Стили ссылок*/
.linkstyle {
    color: #D2908B;
    text-decoration: none;    
}

.linkstyle:active {
    color: #D2908B;
    text-decoration: underline;
}

.linkstyle:visited {
    color: #D2908B;
    text-decoration: none;
}

.linkstyle:hover {
    color: #DDBAB8;
}

.linkslist li a,
.linkslist li a:visited,
.linkslist li a:hover,
.linkslist li a:active {
    color: #000000;
}

/*Маркеры списка ссылок в карте сайта*/
.linkslist li {
    color: #D2908B;
    list-style-type: disc;
}

/*Оформление блока обьявлений на странице Объявления*/
.announce-line {
    width: 85%;
    background: #DDBAB8;
    font-weight: bold;
    color: #FFFFFF;
    min-height: 50px;
    line-height: 50px;
    text-indent: 10px;   
    font-size: 1.1rem;
}

.announce-text {
    width: 85%;
    min-height: 125px;
    text-indent: 10px;
    padding-top: 5px;    
}

.end {
    font-weight: normal;
    font-size: 1rem;
}

/*стили таблицы расписания транспорта*/
table {   
    border: none;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;   
    max-width: 100%;    
}

th {  
    background: rgba(210, 144, 139, 0.5);
    color: #FFFFFF;    
    width: 16%;
    height: 50px;
}

td { 
    width: 16%;
    height: 50px;
}

tr:nth-child(odd) {
    background: #EFE4D9;
}

/*Шрифты и цвет текста*/
@font-face {
    font-family: 'HondaC';
    src: local('HondaC'),
        url('../fonts/HondaC.woff2') format('woff2'),
        url('../fonts/HondaC.woff') format('woff'),
        url('../fonts/HondaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tittle,
.menu li a,
.menu li:nth-child(2),
h2 {
    font-family: HondaC, Arial, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.tittle {
    font-size: 1.875rem;
}

.menu li a,
.menu li:nth-child(2) {
    color: #F6EFE8;
    font-size: 1.25rem;   
}

.menu .sub-menu a {
    color: #F6EFE8;
    font-size: 1rem;    
}

h2,
.texthide {
    font-size: 1.5rem;    
    color: #D2908B
}

.content {    
    font-family: "Myriad Pro", Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.1875rem;
}

.navigation a,
.header-links,
.blind,
footer a,
.copyright {
    font-family: Tahoma;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #D2908B;
}

footer a {
    color: #F6EFE8;
}

.copyright {
    color: #000000;
    line-height: 2.1875rem;
}

.license {
    color: #F6EFE8;
    font-size: 1.2rem;    
}

th {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
}  

td {
    font-family: Tahoma;
    font-size: 0.8rem;
    line-height: 1rem;
}
/*версия для слабовидящих
спрятаные по умолчанию текстовые ссылки версии для слабовидящих*/
.texthide {
    display: none;
    padding: 10px;
    padding-left: 0;
}

/*спрятать любой элемент(для js)*/
.close {
    display: none;
}

/*показать .sub-menu c плавной анимацией(для js)*/
.open {
    display: block;
    animation: show 0.5s ease;
}

@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}